.swipeable-slot-wrapper {
  @apply .flex .justify-between;
}

.swipe__wrapper {
  position: relative;
  overflow: hidden;
  @apply .pl-4 .-mr-4 .-ml-6;
}

.swipe-item-wrapper {
  position: relative;
  height: inherit;
  z-index: 2;
  /* pointer-events: none; */
}

.swipeable-items {
  position: relative;
  width: inherit;
  height: inherit;
  @apply .flex;
}

.swipeable-item {
  @apply .flex-80 .px-2;

  @screen sm {
    @apply .flex-2;
  }

  @screen lg {
    @apply .flex-3;
  }
}

.swipe-handler {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}