@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

html {
  @apply .font-sans .text-grey;
}

.logo {
  display: flex;
  max-width: 230px;
  width: 130px;
  @screen sm {
    @apply .w-auto;
  }
}

nav {
  /* padding: 1rem 2rem; */
  min-height: 3.25rem;
}

/* 
  Featured Posts
*/

.featured {
  @apply .bg-primary;
  overflow: hidden;
}

.featured-title {
  @apply .text-2xl .font-bold .text-white;
}

.featured-post {
  @apply .bg-white .px-6 .py-4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
  min-height: 200px;
  min-width: 288px;
  cursor: pointer;
  position: relative;
  padding-top: 66.66%; /* 3:2 Aspect Ratio */
}

.featured-post > * {
  position: absolute;
}

.featured-post:not(:last-child) {
  margin-right: 1rem;
}

.title {
  @apply .font-bold;
  line-height: 1.25;
}

.category {
  @apply .text-grey-light .text-sm;
  text-transform: uppercase;
}
.meta {
  @apply .text-grey-light .text-sm;
}
